* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

header {
    background-image: url(./imagens_vertigo/bg-moble.png);
    background-size: cover;
    height: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

